html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Helvetica Neue", serif;
}

body {
    margin: 0%;
    margin-top: 81.88px;
}

ul {
    /* list-style: none; */
    margin: 0;
    padding: 0;
}

header{
    top: 0px;
    display: flex;
    position: fixed;
    background-color: black;
    width: 100%;
    justify-content: space-between;
    align-items: center
}

header img {
    border-radius: 50%;
}

header h1 {
    color: white;
}

li {
    float: right;
    margin: 10px;
}

a {
    color: white;
}

#description {
    background-color: #f1f1f1;
    padding: 30px 100px;
}

#description img {
    float: left;
}

.description-p2 {
    clear: both;
}

.relationship {
    padding: 30px 100px;
}

.relationship img {
    float: right;
    width: 40%;
    height: 40%;
}

footer {
    clear: both;
    height: 60px;
    width: 100%;
    bottom: 0;
    background-color: aliceblue;
    text-align: center;
    line-height: 60px;
}
